<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408367278436-nv7p1tkmdao8va3he2q2tj12qtgjhdfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408367278436-nv7p1tkmdao8va3he2q2tj12qtgjhdfc</string>
	<key>API_KEY</key>
	<string>AIzaSyBXCANQNbbY2hDLdSPt80Czn_4OYy2w2fs</string>
	<key>GCM_SENDER_ID</key>
	<string>408367278436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bbktimes.bbktimes</string>
	<key>PROJECT_ID</key>
	<string>bbk-times</string>
	<key>STORAGE_BUCKET</key>
	<string>bbk-times.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:408367278436:ios:a94f94dad3474b90e9f271</string>
	<key>DATABASE_URL</key>
	<string>https://bbk-times-default-rtdb.firebaseio.com</string>
</dict>
</plist>
